:root {
  --bg : #000;
  --shadow : 0 2px 2px rgb(0, 0, 0, 0.5);
}

.container {
  overflow-x: hidden;
}

 body {
  min-height: auto;
  max-width: 576px;
  margin: 0 auto;
  border: 4px solid #000;
  border-radius: 10px;
  box-sizing: border-box;  
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero::before {
  background-image: url(img/background1.png);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero h1 {
  font-family: "Playwrite CU";
  font-size : 3rem;
  color:white;
  font-weight: bold;
  margin-top: -60px;
}

.hero h2 {
  font-size: 2rem ;
  color: white;
  font-family: "Edu AU VIC WA NT Hand";
  margin-top: 50px;
}

.hero h4 { 
  font-size: 2rem;

  color: #000;
}

.hero p, .hero span {
  color: white;
  font-size: 1.7rem;
  font-family: "Edu AU VIC WA NT Hand", sans-serif;
  text-align: center;
}

.my-box {
  width: 450px;
  height: 170px;
  background-color: rgb(255, 255, 255, 0.2) !important;
  border-radius: 10px;                  
  text-align: center;         
  border: 1px solid white; 
  margin-top: 400px;
  position: relative;
}

.my-box .btn {
  background-color: rgba(255, 255, 255, 0.2) !important; 
  color: white;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid white;
}

.nav-item {
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    z-index:1000;
}

.bottom-nav {
  justify-content: space-around;
  align-items: center;
  background-color: white; opacity: 0.7;
  max-width: 567px;
  min-width: 375px;
  height: 60px;
  z-index:1000;
}

.nav-item .icon {
  font-size: 25px;
  display: block;
  color:#000;
}

.nav-item .text {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    font-weight: bold;
    color: #42567b;
}

.home {
  background-image: url('img/background2.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-bottom: 0.3%;
  align-items: center;
  z-index: -1;
}

.home h1 {
  font-family: "Playwrite CU";
  font-size : 3rem;
  color:white;
  font-weight: bold;
  margin-top: 30px;
}

.home h2 {
  font-size: 1.5rem ;
  color: white;
  font-family: "Edu AU VIC WA NT Hand";
  margin-top: 50px;
  font-weight: bold;
}

.home h3 {
  font-size: 2.5rem;
  color: white;
  font-family: "Edu AU VIC WA NT Hand";
  margin-top: 30px;
  font-weight: bold;
}

.profil {
  position: relative;
  background-image: url('img/background3.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-bottom: 0.3%;
  padding: 1rem ;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.profil h1 {
  color: white;
  font-family: 'Playwrite CU', sans-serif; 
  font-size: 3rem;
  font-weight: bold;
  margin-top: 150px;
  text-align: center;
}

.profil h2 {
  color:white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-top: 50px;
}

.profil p {
  font-size: 1rem;
  color: #000;
  align-items: center;
}

.profil img {
  border: 2px solid #000;
}

.profil .fepri-lidya {
transform: translateX(15%);
}

.info {
  background-color: #42567b;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-bottom: 0.3%;
  padding: 1rem ;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.info h1 {
  color: white;
  font-family: "Playwrite CU", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 90px;
  text-align: center;
}

.info h2{
  font-size: 1rem;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.my-google-maps {     
  border: 2px solid #000;     
  border-radius: 10px;  
  margin-top: 50px;
  width: 100%;
  height: 300px;
  border: none;
  pointer-events: auto;
  position: relative;
  z-index: 1;
}

.open-map-btn {
  font-size: 1.2rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  border: 1px solid #000;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255, 0.2) !important;
  display: inline-block; 
  position: relative;
  z-index: 2; 
}

.info .card {
  background-color: rgb(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #000;
}

.info .card-header {
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 0.8rem;

}

.info .card-footer {
  border-top: 1px solid #000;
  font-size: 0.9rem;
  font-weight: 500%;
}

.gallery {
  background-color: #42567b;
  margin-bottom: 0.3%;
  height: auto;
}

.gallery h1 {
  text-align: center;
  color: white;
  font-family: "Playwrite CU", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  grid-column: span 4;
  
}

.my-youtube-video {
  border: 3px solid white;
  border-radius: 10px;
  width: 100%;    
  max-width: 560px; 
  margin-top: 30px;
}

.gallery img {
  border: 2px white solid ;
  border-radius: 10px;
}

.rsvp {
  background-color: #000;
  content : '';
  top : 0;
  left : 0;
  width : 100%;
  height :auto;
  background-size : cover;
  background-position : center;
  z-index : -1;
  align-items : center;
  border: 2px white solid;
  border-radius: 2px;
}

.rsvp h1 {
  color: white;
  font-family: "Playwrite CU", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.rsvp p, .rsvp form label, .rsvp h2 {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.rsvp button {
  background-color: rgb(255, 255, 255, 0.2) !important;
  color: white;
  border: solid 2px white;
}

.submit-button {
  justify-content: center;
}

.live-komentar-box {
  border: 2px solid #000;
  padding: 2px;
  border-radius: 10px;
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 500px;
  overflow-y: auto;
  color: #000;
}

.live-komentar-box h4 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: white;
}

.live-komentar-box p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.live-komentar-box hr {
  border-top: 1px solid #000;
  margin: 10px 0;
  color: white;
}

.user-comment {
  padding: 10px;
  background-color: #000;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.gifts {
  background-image:url(img/gift.png);
  top : 0;
  left : 0;
  width : 100%;
  height :auto;
  background-size : cover;
  background-position : center;
  z-index : -2;
  align-items : center;
  display : block;
}

.gifts h1 {
  color: white;
  font-family: "Playwrite CU", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
}

.gifts p {
  font-size: 1.2rem;
  align-items: center;
  margin-top: 20%;
  font-family: bold;
  align-items: center;
}

.credit-card, 
.credit-card1 {
  padding: 10px;
  border-radius: 0.2rem;
  width: 400px;
  height: 230px;
  margin: 3%;
  color: white;
  margin-left: -120px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.credit-card {
  background-color: silver;
}

.credit-card1 {
  background-color: #000;
}

.head, .number, .tail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.number {
  margin-top: 60px;
}

.copy-button {
  border: #6c757d; 
  box-shadow: 5px 5px #6c757d;
  border-radius: 2px; 
  padding: 10px; 
  font-size: 18px; 
  cursor: pointer; 
}

footer {
  padding: 2.7rem;
  background-color: #000;
  color: white;  
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}

footer a:hover {
  color: #000;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

/* Media Queries */

/*(max -witdh: 1440)*/
@media (max-width: 1440px) {
    body {
      max-width: 576px;
      margin: 0 auto;
      overflow-x:  hidden !important;
  }
  
  .hero h1{
    font-size: 3.3rem;
    margin-top: -40px;
  }

  .my-box {
    margin-top: 370px;
    padding: 2%;
    height: 170px;
  }

  .info h1 {
    color: white;
    font-family: "Playwrite CU", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 70px;
    text-align: center;
  }

  .home h2 {
    font-size: 1.6rem ;
  }

  .info h1 {
    margin-top: 10px;
  }

  .info h2 {
    margin-top: 50px;
  }
  
  .my-google-maps {
    margin-top: 50px;
  }
  
  .rsvp h1 {
    margin-top: 40px;
    font-size: 2.5rem;

  }

  .live-komentar-box {
    height: 400px ;
  }

  .gifts h1 {
    font-size: 3rem;
    margin-top: 100px;
  }

  .live-komentar-box {
    height: 380px;
    
  }
}

@media (max-width: 1204px) {
  body {
    max-width: 576px;
    margin: 0 auto;
    overflow-x:  hidden !important;
  }
  
  .hero h1{
    font-size: 3rem;
    margin-top: 20px;
  }

  .my-box {
    margin-top: 390px;
  }

  .bottom-nav{
    max-width: 567px;
  }

  .info h1  {
    margin-top: 10px;
  }
  .info h2 {
    margin-top: 50px;
  }

  .my-google-maps {
    margin-top: 10px;
  }

  .rsvp h1 {
    margin-top: 40px;
    font-size: 2.5rem;

  }

}

@media (max-width: 768px) {
  body {
    max-width: 576px;
    margin: 0 auto;
    overflow-x:  hidden !important;
  }
  

  .profil h1 {
    font-size: 2.5rem;
    margin-top: 150px;
  }
  
  .profil img {
    border: 2px solid #000;
  }
  
  .profil .fepri-lidya {
    transform: translateX(0.5%);
  }

}

@media (max-width: 576px)  {
  body {
    max-width: 576px;
    margin: 0 auto;
    overflow-x:  hidden;

  }

  .hero h1{
    font-size: 2.5rem;
    margin-top: -10px;
  }

  .hero h2 {
    font-size: 1.4rem;
    margin-top: 30px;
  }

  .hero h4{
    font-size: 1rem;
  }

  .hero p, .hero span {
    font-size: 1rem;
  }

  .my-box {
    height: 120px;
    width: 300px;
    margin-top: 330px;
  }

  .my-box .btn {
    font-size: 0.8rem;
  }

  .bottom-nav{
    max-width: 567px;
  }

  .home h1 {
    font-size : 3rem;
    margin-top: 20px;
  }
  
  .home h2 {
    font-size: 1.5rem ;
    margin-top: 50px;
  }
  
  .home h3 {
    font-size: 3rem;
    margin-top: 70px;
  }

  .profil h1 {
    font-size: 2.5rem;
    margin-top: 150px;
  }

  .profil p {
    margin-top: 20px;
  }

  .info h1  {
    font-size: 3rem;
    margin-top: 50px;
  }

  .my-google-maps {
    margin-top: 50px;
    justify-content: center;
  }

  .gallery {
    height: auto
  }

  .gallery .row {
    grid-template-columns: repeat(2, 1fr); /* Menampilkan 4 kolom */
  }
  
  .gallery img, .my-youtube-video {
    width: 100%;
    padding: 2%;
  }

  .rsvp h1{
    font-size: 3rem;
  }

  .rsvp p {
     margin-top: 30px;
  }

  .rsvp h2 {
    margin-top: -30px;
  }

  .live-komentar-box {
    height: 340px;
  }

  .gifts h1 {
    font-size: 4rem;
  }

  .credit-card, 
  .credit-card1{
  margin-left: 0;
  }
}

@media (max-width: 425px) {
  body {
    min-height: 425px;
    margin: 0 auto;
    overflow-x:  hidden;

  }

  .hero h1{
    font-size: 2.3rem;
    margin-top: -30px;
    }

  .hero h2 {
    font-size: 1.6rem;
    margin-top: 15px;
  }

  .my-box {
    height: 120px;
    width: 300px;
  }

  .my-box .btn {
    font-size: 0.8rem;
  }

  .nav-item .icon {
    font-size: 18px;
  }

  .nav-item .text {
    font-size: 10px;
  }

  .bottom-nav {
    min-width: 345px;
    
  }

  .home h1 {
    font-size: 2rem;
    margin-top: 20px;
  }

  .home h3 {
    font-size: 1.8rem;
  }

  .profil h1 {
    font-size: 2.1rem;
  }

  .info h1 {
    font-size: 2.1rem;
  }

  .info h2 {
     font-size: 0.9rem;
  }

  .gallery {
    height: auto
  }

  .gallery h1, .rsvp h1  {
    font-size: 2.3rem;
    margin-top: 30px;
  }
  
  .gallery .row {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(150px, 1fr)); /* Responsif */
    gap: 10px; /* Jarak antar gambar */
  }

  .gallery img {
    height: auto; /* Mempertahankan rasio aspek */
  }

  .live-komentar-box {
    height: 330px;
  }
  
  .gifts h1 {
    font-size: 2.4rem;
    margin-top: 100px;
  }

  .credit-card ,
  .credit-card1 {
    width: 350px;
    height: 180px;
}

  .head, .number, .tail {
  font-size: 1rem;
  font-weight: bold;
}

  .number {
  margin-top: 40px;
}

}
