.simply-countdown {
    display: flex;               /* Menggunakan flexbox */
    justify-content: center;      /* Elemen-elemen anak akan rata di tengah */
    align-items: center;          /* Elemen-anak vertikal rata di tengah */
    margin-top: 40px;
}

.simply-countdown > .simply-section {
    width: 120px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    background-color: rgba(255, 255, 255, 0.2) !important; 
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2) !important; 
    border-radius: 100%;
    border: 2.5px solid white; 
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
    display: block;
    text-align: center;
    font-family: "Edu AU VIC WA NT Hand", sans-serif;
    font-size: 1.3rem;
    color:#000000;
}

.simply-countdown > .simply-section .simply-amount {
    font-size: 1.3rem;
    font-family: "Edu AU VIC WA NT Hand", sans-serif;
    color: #000000;
}
